
<a class="navbar-brand" href="/">ZHANKUI HE</a>
<ul class="nav nav-pills pull-right">
	<li class="{{ page.home }}"><a href="/home" target="iframe">HOME</a></li>
	<li class="{{ page.research }}"><a href="/research" target="iframe">RESEARCH</a></li>
	<li class="{{ page.project }}"><a href="/project" target="iframe">PROJECT</a></li>
	<li class="{{ page.cv }}"><a href="/cv" target="iframe">CV</a></li>
	<li class="{{ page.blog}}"><a href="/blog" target="iframe">BLOG</a></li>
</ul>

<!-- /header -->
