<div class="header">
	<div class="col-sm-3">
		<img src="../img/LOGO.jpg" href="/" width="219px" class="navbar-brand  pull-right" />
	</div>
	<div class="col-sm-9">
		<ul class="nav nav-pills">
			<li class="{{ page.home }}"><a href="/" title="Home">HOME</a></li>
			<li class="{{ page.project }}"><a href="/project" title="Project">PROJECT</a></li>
			<li class="{{ page.research}}"><a href="/research" title="Research">RESEARCH</a></li>			
			<li class="{{ page.publication }}"><a href="/publication" title="publication">publication</a></li>
			<li class="{{ page.cv }}"><a href="/cv" title="CV">RESUME</a></li>
			<li class="{{ page.blog}}"><a href="/blog_en" title="Blog">BLOG</a></li>
		</ul>
	</div>
</div>

<style type="text/css">
	.navbar-brand {margin-top: 0;
		 padding: 1px
	}
</style>

<!-- /header -->
