<div class="sidebar">
		<table border="0" class="pull-right">
				<tr>
				<td><img src="../img/hz.png" width="210px" class="pull-right" /></td>
				</tr>
				<tr>
				<td>	<address class="pull-right">
						<h3><strong>Zi He, 贺梓</strong><br /></h3>
						9450 Gilman Dr, La Jolla, <br/>
						CA, 92092<br/>
						<abbr title="Email">Email:</abbr> z1he@ucsd.edu<br /> 
						<br/>
						<font size="2" color="gray">© Update in Dec. 2019</font>
					</address>
				</td>
				</tr>
			
				</table>

</div>

<!-- /sidebar -->
 
