<div class="sidebar">
	<img src="../img/HEZHANKUI.png" width="210px" class="img-rounded pull-right" />
	<address class="pull-right">
		<h3><strong>Zhankui He  (何 占魁)</strong><br /></h3>
		<a href src="http://www.fudan.edu.cn/en/"><strong>Fudan University</strong><br /></a>
		220 Handan Rd, Shanghai
		<br/>
		<abbr title="Email">E:</abbr> zkhe15 at fudan.edu.cn<br /> 
		<abbr title="Phone">P:</abbr> (+86) 177-1797-8343<br/>
		<br/>
		<font size="2" color="gray">© Update in Feb. 2018</font>
	</address>
</div>

<!-- /sidebar -->
 