<div class="sidebar">
		<table border="0" class="pull-right">
				<tr>
				<td><img src="../img/hzk4.png" width="210px" class="pull-right" /></td>
				</tr>
				<tr>
				<td>	<address class="pull-right">
						<h3><strong>Zhankui He, 何 占魁</strong><br /></h3>
						<a href src="https://ucsd.edu/">UC San Diego<br /></a>
						9500 Gilman Dr, La Jolla, <br/>
						CA 92093-0021<br/>
						<abbr title="Email">E:</abbr> zhh004 at ucsd.edu<br /> 
						<br/>
						<font size="2" color="gray">© Update in Sept. 2019</font>
					</address>
				</td>
				</tr>
			
				</table>

</div>

<!-- /sidebar -->
 
